body {
   font-family: "Roboto",sans-serif;
   font-size: 14px;
   font-weight: 400;
   color: #212121;
   width: 1600px;
   height: 2349px;
   background: white
}
.container {
   width: 100%;
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
} 

/* шапка сайта */
.header-part {
   display: flex;
   height: 80px;
   border-bottom: 4px  solid #ececec;
}
/* логотип сайта */
.logo-part {
   width: 145px;
  height: 31px;
  text-align: center;
  padding: 24px 0 25px 25px;
}
/* голубая часть логотипа сайта */
.blue-logo-part {
   color: #2196f3;
}
/* стилизация логотипа сайта */
.logo-link {
   text-decoration: none;
   color: #000;
   font-family: "Raleway";
   font-weight: 700;
   font-size: 1.85em;
   letter-spacing: 0.03em;
}
/* навигация сайта */
nav {
   display: flex;
}
.navigation-block {
   width: 294px;
   margin: 32px 0 32px 93px;
}
.contacts-block {
   width: 307px;
   margin: 32px 0 32px 320px;
}
/* список навигации и список контактов*/
.navigation-list,
.contacts-list {
   display: flex;
   justify-content: space-between;
   padding: 0;
   margin: 0;
   list-style: none;
}
/* стилизации ссылок навигации и контактов*/
.navigation-link {
   color: #212121;
   text-decoration: none;
   letter-spacing: 0.02em;
}
.contact-link {
   text-decoration: none;
   color: #757575;
   letter-spacing: 0.02em;
}
.navigation-link:hover,
.contact-link:hover {
   color: #2196f3;
}

/* оформление страницы studio */
/* Hero сайта */
.hero-part {
   background: #2f303a;
   height: 600px;
   display: flex;
   flex-direction: column;
}
.hero-header {
   color: #fff;
   font-size: 3.14em;
   width: 696px;
   height: 120px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 0.06em;
   margin: 200px 452px 0 252px;
}
.hero-button {
   color: #fff;
   font-size: 1.14em;
   width: 200px;
   height: 50px;
   margin: 30px 700px 0 500px;
   background: #2196f3;
   border-radius: 4px;
   border: 0;
}
.hero-button:hover {
   cursor: pointer;
}
/* Секция "особености работы" */
.features-part {
   display: flex;
   width: 1170.28px;
   height: 101.39px;
   margin: 94px 215px 0 215px;
}
/*  скрытый заголовок */
.hidden-header {
   display: none;
}
.features-part-list {
   width: 100%;
   height: 100%;
   list-style: none;
   display: flex;
   justify-content: space-between;
  

 }
 .features-part-list-item {
   width: 270px;
   height: 101px;
 }
.features-part-list-header {
   text-transform: uppercase;
   font-weight: 700;
   line-height: 1.14em;
   letter-spacing: 0.03em;
}
.features-part-list-text {
   margin: 10px 0;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #757575;
}
/* секция Чем мы занимаемся */
.business-part {
   width: 1170px;
   height: 386px;
   margin: 94px 215px 0 215px;
   
}
.business-part-header {
   font-weight: bold;
  font-size: 2.57em;
  text-align: center;
  letter-spacing: 0.03em; 

}
.business-part-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.business-part-item {
   width: 370px;
   height: 294px;
   padding-right: 32px ;
}
/* секция Наша команда */
.our-team {
   width: 1600px;
   height: 650.39px;
   margin-top: 94px;
   background-color:#F5F4FA ;
}
  .our-team-header {
   font-weight: bold;
   font-size: 2.25em;
   text-align: center;
   letter-spacing: 0.03em;
   padding: 95px 0 0 100px;
}
.our-team-list {
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   margin: 50px 0 0 15px;
   width: 1170px;
   height: 368px;
  
}
.our-team-list-item {
  width: 270px;
  height: 368px;
  background-color: #fff;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
}
.our-team-list-item-header {
   font-weight: 500;
  font-size: 1.14em;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
  margin: auto;
}
.our-team-list-item-trade {
   font-size: 1.14em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
  margin: auto;
}
/* секция подвал сайта */
.footer-part {
   height: 252px;
   width: 1600px;
   background-color: #2F303A;
}
.logo-part-footer {
   width: 145px;
   height: 31px;
   text-align: center;
   padding: 58px 0 0 50px;
}
.logo-link-footer {
   text-decoration: none;
   color:white;
   font-family: "Raleway";
   font-weight: 700;
   font-size: 1.85em;
   letter-spacing: 0.03em;  
}
.address-list {
   list-style-type: none;
   width: 231px;
   height: 81px;
   padding: 0;
   margin: 40px 0 0 50px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.address-list-item {
   font-style: normal;
   color: #FFFFFF;
}
 .address-list-item-link {
   color: rgba(255, 255, 255, 0.6);
   font-style: normal;
   text-decoration: none;
   letter-spacing: 0.03em; 
 }
 .address-list-item-link:hover {
   color: #2196f3;
 }
 /* оформление страницы portfolio */
 /* оформление header и footer обоих страниц одинаково  */
 .portfolio-content {
 width: 1170px;
 height: 1360px;
 margin: 94px 215px 94px 215px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

 .filter-list {
   margin: 0;
   padding: 0;
   width: 613px;
   height: 54px;
   display: flex;
   list-style-type: none;
    
 }
 .filter-list input {
   margin: 0 8px;
   padding: 6px 22px;
   background-color: #f5f4fa;
   font-size: 1.14em;
   letter-spacing: 0.03em;
   line-height: 1.625em;
   border: 0;
   border-radius: 4px;
 }
 .filter-list input:hover {
   background: #2196f3;
   color: #fff;
   box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.2); 
 }
 /* примеры страницы portfolio */
 .pattern-list {
   list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  height: 1272px;
  justify-content: space-between;
  
 }
 .pattern-list li {
  width: 370px;
  height: 404px;
 background-color: #fff;
 border: 1px solid rgba(238, 238, 238, 1);
 }

 .pattern-list h3 {
   width: 322px;
   height: 36px;
   margin: 20px 0 0 24px;
   font-weight: bold;
   font-size: 1.29em;
 }
 .pattern-list p {
    margin: 4px 0 0 24px;
    font-size: 1.14em;
      line-height: 1.875em;
      letter-spacing: 0.03em;
      color: #757575;
 }
