:root {
   --main-color: #fff;
   --main-text-color: #212121;
   --second-text-color: #757575;
   --special-color: #2196f3;
   --main-font: "Roboto", sans-serif;
   --bg-hero-footer: #2f303a;
   --bg-team-filter: #f5f4fa;
}
body {
   font-family: var(--main-font);
   font-size: 14px;
   line-height: 1.142;
   font-weight: 400;
   letter-spacing: 0.03em;
   color: var(--main-text-color);
   background: var(--main-color);
}
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
/* контейнеры всех секций */
.container {
   width: 1200px;
   margin: 0 auto;
   display: flex;
}
.hero-part .container,
.business-part .container,
.our-team .container,
.footer-part .container ,
.portfolio-content .container {
   width: 1200px;
   margin: 0 auto;
   display:flex;
   flex-direction: column; 
}
/* шапка сайта */
.header-part {
   height: 80px;
   border-bottom: 4px solid #ececec;
}
/* логотип сайта */

/* голубая часть логотипа сайта */
.blue-logo-part {
   color: var(--special-color);
   font-family: "Raleway";

}
/* стилизация логотипа сайта */
.logo-link {
   text-decoration: none;
   color: #000;
   font-family: "Raleway";
   font-weight: 700;
   font-size: 26px;
   line-height: 1.192;
   letter-spacing: inherit;
   padding: 24px 0 0 15px;
}
/* навигация сайта */

.navigation-list {
   width: 294px;
   margin: 32px 0 32px 93px;
}
.contacts-list {
   margin: 32px 0 32px 331px;
}
.contacts-list li:last-child {
   margin-left: 50px;
}
/* список навигации и список контактов*/
.header-part ul {
   display: flex;
   justify-content: space-between;
   list-style: none;
}
/* стилизации ссылок навигации и контактов*/
.navigation-list a {
   font-weight: 500;
   font-size:inherit;
   line-height: inherit;
   letter-spacing: 0.02em;
   color: var(--main-text-color);
   text-decoration: none;
}
.contacts-list a {
   text-decoration: none;
   font-weight: 500;
   font-size: inherit;
   line-height: inherit;
   letter-spacing: 0.02em;
   color: var(--second-text-color);
}
.navigation-list a:hover,
.contacts-list a:hover,
.navigation-list a:focus,
.contacts-list a:focus,
a.active {
   color: var(--special-color);
}

/* оформление страницы studio */
/* Hero сайта */
.hero-part {
   background: var(--bg-hero-footer);
}

.hero-header {
   color:var(--main-color);
   font-size: 44px;
  font-weight: 900;
   line-height: 1.36;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 0.06em;
   margin: 200px 252px 0 252px;
}

.hero-button {
   font-family: inherit;
   color:var(--main-color);
   font-weight: 700;
   font-size: 16px;
   line-height: 1.875;
   letter-spacing: 0.06;
   background:var(--special-color);
   border-radius: 4px;
   border: 0;
   padding: 10px 32px;
   margin: 30px 500px 200px 500px;
}
.hero-button:hover {
   cursor: pointer;
}
/* Секция "особености работы" */
.features-part {
   padding: 94px 0 94px 0;
}
/*  скрытый заголовок */
.hidden-header {
   display: none;
}
.features-part ul {
   width: 100%;
   list-style: none;
   display: inherit;
   justify-content: space-around;

}
.features-part li {
   width: 270px;
}
.features-part h3 {
   text-transform: uppercase;
   font-size: inherit;
   font-weight: 700;
   line-height: inherit;
}
.features-part p {
   margin-top: 10px;
   line-height: 1.714;
   letter-spacing: 0.03em;
   color: var(--second-text-color);
}
/* секция Чем мы занимаемся */
.business-part {
   padding: 0px 0 94px 0;
}

.business-part h2 {
   font-weight: bold;
   font-size: 36px;
   line-height: 1.166;
   text-align: center;
}
.business-part ul {
   list-style-type: none;
   display: flex;
   justify-content: space-around;
   margin-top:50px;
}
/* секция Наша команда */
.our-team {
   background-color:var(--bg-team-filter);
   padding: 94px 0 94px 0;
}

/* убирает зазор делая картинки элементом:block
    для our team и pattern list */
.card img {
   display: block;
}
.our-team h2 {
   font-weight: bold;
   font-size: 36px;
   line-height: 1.166;
   text-align: center;
   letter-spacing: inherit;
}
.our-team ul {
   list-style-type: none;
   display:flex;
   justify-content: space-around;
   margin-top:50px;
}
.our-team li {
   background-color: var(--main-color);
   border-radius: 0px 0px 3px 3px;
   box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
}
.our-team h3 {
   font-weight: 500;
   font-size: 16px;
   text-align: center;
   line-height: 1.187;
   margin-top: 30px;
   letter-spacing: inherit;
}
.our-team p {
   font-size:16px;
   letter-spacing: inherit;
   text-align: center;
   line-height: 1.187;
   color: var(--second-text-color);
   margin-top: 10px;
}
/* секция подвал сайта */
.footer-part {
   background-color:var(--bg-hero-footer);
}
.logo-link-footer {
   text-decoration: none;
   color:var(--main-color);
   font-family: "Raleway";
   font-weight: 700;
   font-size: 26px;
   line-height: 1.93;
   letter-spacing:inherit;
   padding: 60px 0 0 15px;
}
.footer-part ul {
   list-style-type: none;
   margin: 20px 0 60px 15px;
   justify-content: space-between;
}
.footer-part li {
   line-height: 1.714;
   letter-spacing: inherit;
   font-style: normal;
   color:var(--main-color);
   margin-bottom: 9px;
}
.footer-part ul a {
   color: #ffffff99;
   font-style: normal;
   line-height: 1.714;
   letter-spacing:inherit;
   text-decoration:none;
}
.footer-part ul a:hover {
   color: var(--special-color);
}
/* оформление страницы portfolio */
/* оформление header и footer обоих страниц одинаково  */
.portfolio-content {
 padding: 0 0 94px 0;
}

.filter-list {
   margin: 65px 0 0 293px;
   padding: 0;
   display:flex;
   list-style-type: none;
}
.filter-list input {
   margin: 0 8px 0 0;
   padding: 6px 22px;
   background-color: var(--bg-team-filter);
   font-size: 16px;
   font-weight: 500;
   letter-spacing: inherit;
   line-height: 1.625;
   border: 0;
   border-radius: 4px;
   color: var(--main-text-color);
}
.filter-list .filter-list-blue {
   background-color: var(--special-color);
   color: var(--main-color);
}
.filter-list input:hover,
.filter-list input:focus {
   background: var(--special-color);
   color:var(--main-color);
   box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.3);
   cursor: pointer;
}
/* примеры страницы Portfolio */
.pattern-list {
   margin-top: 34px;
   list-style-type: none;
   display:flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.pattern-list a {
   text-decoration: none;
}
.pattern-list li{
   background-color: var(--main-color);
   margin-bottom:30px
}
.pattern-list h3 {
   padding: 20.43px 0 0 24px;
   font-weight: bold;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: var(--main-text-color);
}
.pattern-list p {
   padding: 4px 0 20.43px 24px;
   font-size: 16px;
   line-height: 1.875;
   letter-spacing: 0.03em;
   color: var(--second-text-color);
   border-bottom: 1px solid #eee;
}
.pattern-list h3,
.pattern-list p {
   border-left: 1px solid #eee;
   border-right: 1px solid #eee;
}
