:root {
   --backgound-color: #fff;
   --main-text-color: #212121;
   --second-text-color: #757575;
   --special-color: #2196f3;
   --main-font: "Roboto", sans-serif;
}
body {
   font-family: var(--main-font);
   font-style: normal;
   font-size: 14px;
   font-weight: 400;
   color: var(--main-text-color);
   width: 1600px;
   height: 2349px;
   background: var(--backgound-color);
}
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
.container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 auto;
   display: flex;
}

/* шапка сайта */
.header-part {
   height: 80px;
   border-bottom: 4px solid #ececec;
}
/* логотип сайта */

/* голубая часть логотипа сайта */
.blue-logo-part {
   color: var(--special-color);
   font-family: "Raleway";
   line-height: 1.173;
   font-size: 26px;
   letter-spacing: 0.03em;
}
/* стилизация логотипа сайта */
.logo-link {
   text-decoration: none;
   color: #000;
   font-family: "Raleway";
   font-weight: 700;
   font-size: 26px;
   line-height: 1.173;
   letter-spacing: 0.03em;
   padding: 24px 0 0 15px;
}
/* навигация сайта */

.navigation-list {
   width: 294px;
   margin: 32px 0 32px 93px;
}
.contacts-list {
   width: 307px;
   margin: 32px 0 32px 331px;
}
/* список навигации и список контактов*/
.header-part ul {
   display: flex;
   justify-content: space-between;
   list-style: none;
}
/* стилизации ссылок навигации и контактов*/
.navigation-list a {
   font-family: "Roboto";
   font-weight: 500;
   font-size: 14px;
   line-height: 1;
   letter-spacing: 0.02em;
   color: var(--main-text-color);
   text-decoration: none;
}
.contacts-list a {
   text-decoration: none;
   font-family: "Roboto";
   font-weight: 500;
   font-size: 14px;
   line-height: 1;
   letter-spacing: 0.02em;
   color: var(--second-text-color);
}
.navigation-list a:hover,
.contacts-list a:hover,
.navigation-list a:focus,
.contacts-list a:focus,
a.active {
   color: var(--special-color);
}

/* оформление страницы studio */
/* Hero сайта */
.hero-part {
   background: #2f303a;
}
.hero-part .container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 auto;
   display: flex;
   flex-direction: column;
}

.hero-header {
   color: #fff;
   font-size: 2.75em;
   width: 696px;
   height: 120px;
   line-height: 60px;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 0.06em;
   margin: 200px 252px 0 252px;
}

.hero-button {
   color: #fff;
   font-size: 1.14em;
   width: 200px;
   height: 50px;
   background: #2196f3;
   border-radius: 4px;
   border: 0;
   margin: 30px 500px 200px 500px;
}
.hero-button:hover {
   cursor: pointer;
}
/* Секция "особености работы" */
.features-part {
   display: flex;
   width: 1170.28px;
   margin: 0 auto;
   padding: 94px 0 94px 0;
}
/*  скрытый заголовок */
.hidden-header {
   display: none;
}
.features-part ul {
   width: 100%;
   height: 100%;
   list-style: none;
   display: flex;
   justify-content: space-between;
}
.features-part li {
   width: 270px;
   height: 101px;
}
.features-part h3 {
   text-transform: uppercase;
   font-weight: 700;
   line-height: 1.14em;
   letter-spacing: 0.03em;
}
.features-part p {
   margin: 10px 0;
   line-height: 1.71em;
   letter-spacing: 0.03em;
   color: var(--second-text-color);
}
/* секция Чем мы занимаемся */
.business-part {
   width: 1170px;
   margin: 0 auto;
   padding: 0px 0 94px 0;
}
.business-part .container {
   width: 100%;
   max-width: 1200px;
   display: flex;
   flex-direction: column;
}

.business-part h2 {
   font-weight: bold;
   font-size: 2.57em;
   letter-spacing: 0.03em;
   margin: 0 auto;
}
.business-part ul {
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   margin-top: 50px;
}
.business-part li {
   width: 370px;
   height: 294px;
   margin-right: 30px;
}
/* секция Наша команда */
.our-team {
   width: 1600px;
   background-color: #f5f4fa;
   padding: 94px 0 94px 0;
}
.our-team .container {
   width: 100%;
   max-width: 1200px;
   display: flex;
   flex-direction: column;
}
.our-team h2 {
   font-weight: bold;
   font-size: 2.25em;
   text-align: center;
   letter-spacing: 0.03em;
}
.our-team ul {
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   width: 1170px;
   height: 368px;
   margin: 50px 0 0 15px;
}
.our-team li {
   width: 270px;
   height: 368px;
   background-color: var(--backgound-color);
   border-radius: 0px 0px 3px 3px;
   box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
}
.our-team h3 {
   font-weight: 500;
   font-size: 1.14em;
   text-align: center;
   letter-spacing: 0.03em;
   margin-top: 30px;
}
.our-team p {
   font-size: 1.14em;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--second-text-color);
   margin-top: 10px;
}
/* секция подвал сайта */
.footer-part {
   height: 252px;
   width: 1600px;
   background-color: #2f303a;
}
.footer-part .container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 auto;
   display: flex;
   flex-direction: column;
}
.logo-link-footer {
   text-decoration: none;
   color: white;
   font-family: "Raleway";
   font-weight: 700;
   font-size: 26px;
   line-height: 1.173;
   letter-spacing: 0.03em;
   padding: 60px 0 0 15px;
}
.footer-part ul {
   list-style-type: none;
   padding: 0;
   margin: 20px 0 0 15px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.footer-part li {
   font-size: 14px;
   line-height: 1.714;
   letter-spacing: 0.03em;
   font-style: normal;
   color: #ffffff;
   margin-bottom: 6px;
}
.footer-part ul a {
   color: rgba(255, 255, 255, 0.6);
   font-style: normal;
   font-size: 14px;
   line-height: 1.714;
   letter-spacing: 0.03em;
   text-decoration: none;
}
.footer-part ul a:hover {
   color: var(--special-color);
}
/* оформление страницы portfolio */
/* оформление header и footer обоих страниц одинаково  */
.portfolio-content .container {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   padding: 0 0 94px 0;
}

.filter-list {
   margin: 65px 0 0 293px;
   padding: 0;
   width: 613px;
   height: 54px;
   display: flex;
   list-style-type: none;
}
.filter-list input {
   margin: 0 8px 0 0;
   padding: 6px 22px;
   background-color: #f5f4fa;
   font-size: 16px;
   font-weight: 500;
   letter-spacing: 0.03em;
   line-height: 1.625;
   border: 0;
   border-radius: 4px;
   color: var(--main-text-color);
}
.filter-list .filter-list-blue {
   background-color: var(--special-color);
   color: #ffffff;
}
.filter-list input:hover,
.filter-list input:focus {
   background: var(--special-color);
   color: #fff;
   box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.3);
   cursor: pointer;
}
/* примеры страницы Portfolio */
.pattern-list {
   margin: 34px 0 0 15px;
   list-style-type: none;
   display: flex;
   width: 1170px;
   flex-wrap: wrap;
   justify-content: space-between;
   font-size: 0;
}
.pattern-list a {
   text-decoration: none;
}
.pattern-list li {
   margin-bottom: 30px;
   width: 370px;
   height: 412px;
   background-color: var(--backgound-color);
}

.pattern-list h3 {
   padding: 20.43px 0 0 24px;
   font-weight: bold;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: var(--main-text-color);
}
.pattern-list p {
   padding: 4px 0 20.43px 24px;
   font-size: 16px;
   line-height: 1.875;
   letter-spacing: 0.03em;
   color: var(--second-text-color);
   border-bottom: 1px solid #eee;
}
.pattern-list h3,
.pattern-list p {
   border-left: 1px solid #eee;
   border-right: 1px solid #eee;
}
